<!-- Header -->
<header class="masthead text-white text-center" src="./../../assets/images/desert.jpg">
  <div class="container">
    <img src="./../../assets/images/profile.png" alt="">
    <span class="text-uppercase mb-0">CoFOunder</span>
    <hr class="star-light">
    <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2>
  </div>
</header>

<!-- Portfolio Grid Section -->
<section class="freelancer-outer" id="freelancer">
  <div class="container">
    <div class="text-center mb-0 sec-heading">
      FREELANCERS</div>
      <h1 class="animated infinite bounce">Example</h1>
    <div class="sec-tagline"> A good reputation is more valuable than money</div>
    <div class="mb-5 sec-content">

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae
      quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
    </div>

    <div class="sec-buttons row">
      <div class="col-xs-10 col-md-5">
        <button type="button" class="btn btn-outline-success btn-lg btn-block">I want to hire</button>
      </div>
      <div class="col-xs-12 col-md-2 text-center sec-or-text">or</div>
      <div class="col-xs-10 col-md-5">
        <button type="button" class="btn btn-outline-success btn-lg btn-block">I want to work</button>
      </div>
    </div>

  </div>
  <div class="lg-container">
    <div class="sec-tagline">How it works for freelancers?</div>

    <div class="row">
      <div class="col-md-2 col-lg-2">
        <img class="img-fluid" src="./../../assets/images/portfolio/cabin.png" alt="">
        <div class="img-text">Lorem ipsum dolor sit amet</div>
      </div>
      <div class="col-md-1 col-lg-1 sec-arrow"> > </div>
      <div class="col-md-2 col-lg-2">
        <img class="img-fluid" src="./../../assets/images/portfolio/cake.png" alt="">
        <div class="img-text">tur adipisicing elit.</div>
      </div>
      <div class="col-md-1 col-lg-1 sec-arrow"> > </div>
      <div class="col-md-2 col-lg-2">
        <img class="img-fluid" src="./../../assets/images/portfolio/cabin.png" alt="">
        <div class="img-text">Mollitia neque assumenda ipsam nihi</div>
      </div>
      <div class="col-md-1 col-lg-1 sec-arrow"> > </div>
      <div class="col-md-2 col-lg-2">
        <img class="img-fluid" src="./../../assets/images/portfolio/cake.png" alt="">
        <div class="img-text">vitae? Reprehenderit soluta, eos quod cons</div>
      </div>
    </div>
  </div>

  <div class="lg-container">
    <div class="sec-tagline">How it works for employers ?</div>
    <div class="row">
      <div class="col-md-2 col-lg-2">
        <img class="img-fluid" src="./../../assets/images/portfolio/cabin.png" alt="">
        <div class="img-text">Lorem ipsum dolor sit amet</div>
      </div>
      <div class="col-md-1 col-lg-1 sec-arrow"> > </div>
      <div class="col-md-2 col-lg-2">
        <img class="img-fluid" src="./../../assets/images/portfolio/cake.png" alt="">
        <div class="img-text">tur adipisicing elit.</div>
      </div>
      <div class="col-md-1 col-lg-1 sec-arrow"> > </div>
      <div class="col-md-2 col-lg-2">
        <img class="img-fluid" src="./../../assets/images/portfolio/cabin.png" alt="">
        <div class="img-text">Mollitia neque assumenda ipsam nihi</div>
      </div>
      <div class="col-md-1 col-lg-1 sec-arrow"> > </div>
      <div class="col-md-2 col-lg-2">
        <img class="img-fluid" src="./../../assets/images/portfolio/cake.png" alt="">
        <div class="img-text">vitae? Reprehenderit soluta, eos quod cons</div>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section class="bg-primary text-white staffreghead" id="registration">
  <div class="container">

    <div class="text-center mb-0 sec-heading text-white">
      STAFFING REGISTRATION</div>

    <div class="sec-tagline">Choose a job you love, and you will never have to work a day in your life</div>
    <div class="mb-5 sec-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae
      quos quisLorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias
      magnam, recusandae quos quisLorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam
      nihil, molestias magnam, recusandae quos quis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
      assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit
      soluta, eos quod consequuntur itaque. Nam.
    </div>


    <div class="sec-buttons">
      <div class="col-xs-6 col-md-6 staff-btn-outer">
        <button type="button" class="btn btn-outline-light btn-lg btn-block">Staff Registration</button>
      </div>
    </div>
  </div>
</section>


<div class="lg-container">
  <div class="sec-tagline">Our jobs board</div>
  <div class="row">
    <div class="col-xs-6 col-md-3 p-b-15">
      <img class="img-fluid" src="./../../assets/images/portfolio/cabin.png" alt="">
    </div>
    <div class="col-xs-6 col-md-3 p-b-15">
      <img class="img-fluid" src="./../../assets/images/portfolio/cake.png" alt="">
    </div>
    <div class="col-xs-6 col-md-3 p-b-15">
      <img class="img-fluid" src="./../../assets/images/portfolio/cabin.png" alt="">
    </div>
    <div class="col-xs-6 col-md-3 p-b-15">
      <img class="img-fluid" src="./../../assets/images/portfolio/cake.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-md-3 p-b-15">
      <img class="img-fluid" src="./../../assets/images/portfolio/cabin.png" alt="">
    </div>
    <div class="col-xs-6 col-md-3 p-b-15">
      <img class="img-fluid" src="./../../assets/images/portfolio/cake.png" alt="">
    </div>
    <div class="col-xs-6 col-md-3 p-b-15">
      <img class="img-fluid" src="./../../assets/images/portfolio/cabin.png" alt="">
    </div>
    <div class="col-xs-6 col-md-3 p-b-15">
      <img class="img-fluid" src="./../../assets/images/portfolio/cake.png" alt="">
    </div>
  </div>
</div>



<!-- About Section -->
<section class="bg-primary text-white staffreghead" id="contact">
  <div class="xs-container">

    <div class="text-center mb-0 sec-heading text-white">
      Need to know more about us ?</div>
    <div class="mb-5 sec-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae
      quos quisLorem ipsum dolor sit amet.
    </div>
    <div class="send-txt-box">
      <input type="text" class="form-control" placeholder="Please type">
    </div>

    <div class="sec-buttons">
      <div class="col-xs-6 col-md-6 m-l-25">
        <button type="button" class="btn btn-outline-light btn-lg btn-block">Send</button>
      </div>
    </div>
  </div>
</section>


<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
  <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>