
<div class="contact-heading">
        <div class="heading-inner">
            About Us
        </div>
</div>
<div class="layout">
   <div class="lines">
        Soundarya Beauty parlour at Kottayi is one of the leading beauty Saloon in Palakkad owned by Mrs. Sunitha Mohandas.
        Cleanliness and personalized service has taken up by us up the ladder of success.
        With over 14 years of experience in beauty field, Soundarya has always been a model in implementing new techniwues and beauty care treatments 
        according to customers skin tone , skin type , hair type  and body nature . 
        We offer personalized treatments and therapies depending on the individual skin texture, nature of hair. We also specialize in Bridal make up with
         pre bridal preparation with trials which helps the bride to choose the best styles that suits her.
        
        There are many beauty shops out there, but choosing a right beauty saloon is very necessary.
         If you select a wrong beauty saloon, you may have bad experiences.
         which you should follow on a regular basis in order to maintain a good and healthy body.
</div>
</div>