<div class="services-heading">
    <div class="heading-inner">
        Our Services
    </div>
</div>
<div class="services-layout">
 


    <div>As far as beauty treatment is concerned, the range of services offered are even greater. 
        The parlour provides you various services according to skin and hair type :</div>



Treatments for Hair
Advanced Hair cuts
Eye Brow shaping
Dandruff Treatment
Hair fall treatment
Henna Treatment
Hair Coloring
High lights
Hair Straighting
Hair Rebonding
Hair Smoothing
Hair Protein Treatment
Hair Spa
Special Shampoo for Hair Coloring (Black)


Skincare
Whitening Treatment (France)
Skin Peeling
Skin Polishing
Body Spa
Different types of facials
Pimple Treatment
Pigmentation Treatment
Wrinkles Treatment
Under Eye Dark Circle Treatment
Manicure and Pedicure
French Manicure and Pedicure
Ear Lobb Repairing and Ear Poercing
Foot Spa
Waxing
Mehandi Designing
Warts & Tags Removing
Body Massaging
    <ul>
        <li>Skin Whitening Therapy</li>
        <li> Body Spa</li>
        <li> Hair Spa</li>
        <li> Pedicure Spa</li>
        <li> Ultrasonic Treatment</li>
        <li> Hair Straightening & Smoothing (One day and Permanent)</li>
        <li> Aroma Therapy</li>
        <li> Ultrasonic Treatment</li>
        <li> Instant black spot removal</li>
        <li> High Frequency Treatment</li>
        <li> Warts Removal</li>
        <li> Permanent Tattoo</li>
        <li> Gold Facial</li>
        <li> Painless Ear Piercing </li>
        <li> Thalasso Therapy</li>
        <li> Nail Art</li>
        <li> Chinese Spa Treatment</li>
        <li> Micro Dermabrasion</li>
        <li> Diamond Skin Peeling & Polishing</li>
        <li> Galvanic Spa Treatment</li>
        <li> Foot Reflexology</li>
    </ul>